
# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /xbc-test-l-ail-mis-1212/m-i-s-dev/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /xbc-test-l-ail-mis-1212/m-i-s-dev/index.php [L]
</IfModule>

# END WordPress